/* =========================
  Layout
========================= */
.at .at-form {
    margin: 0;
}

.oa-card {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

.at-inner,
.fastAction,
.poweredby {
    background: transparent;
}

.at {
    display: flex;
    justify-content: center;
}

.HeaderHtml {
    text-align: center;
}


/* =========================
  Typography
========================= */
.at .SmsLegalDisclaimer p,
.fastAction .fa-lead,
.at label small,
.poweredby,
.poweredby a {
    color: var(--secondary-text);
}

.at a {
    color: #087997;
}

.fastAction .profile-link .profile-link-fa-image {
    filter: brightness(0.6);
}

.HeaderHtml p {
    font-size: 18px;
}


/* =========================
  Hidden text
========================= */
.at .at-form .embed-hidden,
.at .at-form .at-title {
    display: none;
}


/* =========================
  Submit button
========================= */
.at .at-form .btn-at-primary,
.at .at-form button.btn-at-primary {
    padding: 20px 100px;
    border-radius: 30px;
}

.at-form-submit .at-submit {
    margin: auto;
    display: flex;
    float: none;
    justify-content: center;
}


/* =========================
  Checkboxes
========================= */
.at input[type=checkbox]+span:before {
    background: rgba(255, 255, 255, 1);
}